{% extends 'base.html' %}

{% block content %}

    <div class="row ">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="text-center">
                <div class="container">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="nav-plan"><h2>Your options:
                            </h2></div>
                        </div>
                        <div class="col-md-8">
                            <div class="nav-plan"><h2>Choose date to edit meal plan:
                            </h2></div>
                        </div>

                        <div class="col-md-4">
                            <br>
                            <div class="col ">
                                <p><a class="btn btn-secondary" href="{% url 'show_today_meal_plan' %}" role="button">See
                                    today's meals</a></p>
                            </div>
                            <div class="col">
                                <p><a class="btn btn-secondary" href="{% url 'show_previous_meal_plan' %}"
                                      role="button">See previous meals</a></p>
                            </div>
                            <div class="col ">
                                <p><a class="btn btn-secondary" href="{% url 'show_future_meal_plan' %}" role="button">See
                                    future meals</a></p>
                            </div>

                            <div class="col ">
                                <p><a class="btn btn-secondary" href="{% url 'add_meal' %}" role="button">Add meals</a>
                            </div>
                            <div class="col">
                                <p><a class="btn btn-secondary" href="{% url 'edit_meal' %}" role="button">Edit
                                    meals</a>
                            </div>
                        </div>


                        {% if meals == False %}
                            <div class="col-md-8"><p> You do not have nothing to change. </p></div>
                        {% else %}
                            {% for meal in meals %}
                                {% include 'healthsite/mealedititem.html' with meal=meal %}
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
                <hr>
            </main>
        </div>
    </div>
{% endblock %}
