<br>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'show_today_exercise_plan' %}"
          role="button">See
        today's exercise</a></p>
</div>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'show_future_exercise_plan' %}"
          role="button">See
        future exercise plan</a></p>
</div>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'add_meal' %}" role="button">Add exercise
        plan</a>
</div>
<div class="col">
    <p><a class="btn btn-secondary" href="{% url 'edit_meal' %}" role="button">Edit
        exercise plan</a>
    </p>
</div>