<br>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'profile' %}"
          role="button">Profile's details</a></p>
</div>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'profile_edit' %}"
          role="button">Edit profile's details</a></p>
</div>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'add_exercise' %}" role="button"> BMI</a>
</div>
<div class="col ">
    <p><a class="btn btn-secondary" href="{% url 'add_exercise' %}" role="button"> Energy demand</a>
</div>
