{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="row">

                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <main role="main" class="text-center">
                        <div class="row">
                            <div class="col">
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                        </p>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-lg btn-secondary">Sign up</button>
                                </form>
                            </div>
                        </div>

                    </main>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


