{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <div class="row">

                <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <main role="main" class="text-center">
                        <p class="lead">{{ comunicate }} {{ name }}!</p>

                        <p class="lead">Now you can log in:</p>
                        <p class="lead">
                            <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">log in.</a>
                        </p>

                    </main>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


